.timer {
	color : red;
	font-size : 20px;
}

#askedChordSpan {
	color : LimeGreen;
	font-size : 30px;
	font-weight : bold;
}

.stricken {
	fill: orange;
}

#availableNotes {
	width: 600px;
	height: 45px;
	padding: 5px;
	cursor: pointer;
}

#availableExtensions {
	cursor: pointer;
	width: 700px;
	height: 70px;
	padding: 5px;
}

.chordButton {
	width: 50px;
	height: 20px;
	margin-right: 5px;
	background-color: rgb(200,200,200);
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

.green {
	background-color: #33FF00;
}

.red {
	background-color: red;
}

.float {
	float : left;
}