.timer {
	color : red;
	font-size : 20px;
}

#askedChordSpan {
	color : LimeGreen;
	font-size : 30px;
	font-weight : bold;
}

body {
	padding-top: 70px;
}

.stricken {
	fill: orange;
}

.green {
	background-color: #33FF00;
}

.red {
	background-color: red;
}

.flexbox {
	display: flex;
	justify-content: space-between;
}

.verticalFlexbox {
	display: flex;
	flex-direction: column;
}

.flexbox > button.rootKey,
.verticalFlexbox > button.chordType,
#alteration-selector > button
{
	width: 65px;
}

#visualKeyboard {
	margin-left: auto;
  margin-right: auto;
	width:1000px;
}
